{% extends "guide/base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron" style="background:transparent">
    <b>About: </b> <br>
    This site allows users to crowd-source rankings for the best/worst stages for each character. <br>
    These individual stage rankings are used to create matchup rankings to help pick the best stages/bans for each matchup. <br>
    Basically, we try to make banning and picking stages as easy and informed as possible!<br> <br>

    <b>Character Pages:</b> <br>
    Each character page allows you to vote on and see how others voted on what stages are best/worst for each character. <br>
    Stages are scored between -2 and +2, but as long as the stages are scored relative to each other, no need to worry about the scale too much! <br>
    You can access these character pages by clicking the card on the homepage or using the search in the navigation bar. <br>
    This allows you to see which stages are good/bad in general for your characters!<br> <br>
    
    <b>Matchups:</b> <br>
    If you need help banning/picking stages in a matchup, click the Matchups option in the navigation bar at the top. <br>
    Once you enter your character and your opponent's character, you'll see the stages ranked based on the difference 
    between each character's stage scores. <br>
    Use these matchup stage rankings to help pick the best stages and bans for each matchup. <br>
</div>
{% endblock %}