{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- own stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'guide/style.css' %}">

    <!-- Latest compiled and minified CSS for bootstrap-select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">


    <!-- Cookie banner -->
    <link rel="stylesheet" type="text/css" href="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.js"></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#fff0ca","text":"#000000","border":"#e0bc57"},"button":{"background":"#e0bc57","text":"#ffffff"}},"position":"bottom-right","content":{"href":"{% url 'guide:cookie' %}"}})});</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170900949-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-170900949-2');
    </script>


    {% block metadata %}
    
    {% endblock %}
  </head>
  <body>
    <!-- Navbar at top of every page -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffa500;">
        <a class="navbar-brand" href="{% url 'guide:homepage' %}" style=" font-weight: bold;">SSBU Stage Guides</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'guide:homepage' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'guide:matchups' %}">Matchups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'guide:about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'guide:contact' %}">Contact</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="{% url 'guide:search' %}" method="get">
            <select class="selectpicker" data-live-search="true" data-live-search-style="startsWith" id="Character" name="Character" title="Search character name..." required>
              <option value="Banjo & Kazooie">Banjo & Kazooie</option>
              <option value="Bayonetta">Bayonetta</option>
              <option value="Bowser">Bowser</option>
              <option value="Bowser Jr." data-tokens="Jr.">Bowser Jr.</option>
              <option value="Byleth">Byleth</option>
              <option value="Captain Falcon">Captain Falcon</option>
              <option value="Charizard">Charizard</option>
              <option value="Chrom">Chrom</option>
              <option value="Cloud">Cloud</option>
              <option value="Corrin">Corrin</option>
              <option value="Dark Pit">Dark Pit</option>
              <option value="Diddy Kong">Diddy Kong</option>
              <option value="Donkey Kong">Donkey Kong</option>
              <option value="Dr. Mario" data-tokens="Doctor">Dr. Mario</option>
              <option value="Duck Hunt">Duck Hunt</option>
              <option value="Falco">Falco</option>
              <option value="Fox">Fox</option>
              <option value="Ganondorf">Ganondorf</option>
              <option value="Greninja">Greninja</option>
              <option value="Hero">Hero</option>
              <option value="Ice Climbers" data-tokens="Climbers">Ice Climbers</option>
              <option value="Ike">Ike</option>
              <option value="Incineroar">Incineroar</option>
              <option value="Inkling">Inkling</option>
              <option value="Isabelle">Isabelle</option>
              <option value="Ivysaur">Ivysaur</option>
              <option value="Jigglypuff">Jigglypuff</option>
              <option value="Joker">Joker</option>
              <option value="Ken">Ken</option>
              <option value="King Dedede" data-tokens="Dedede">King Dedede</option>
              <option value="King K. Rool" data-tokens="K Rool">King K. Rool</option>
              <option value="Kirby">Kirby</option>
              <option value="Link">Link</option>
              <option value="Little Mac">Little Mac</option>
              <option value="Lucario">Lucario</option>
              <option value="Lucas">Lucas</option>
              <option value="Luigi">Luigi</option>
              <option value="Mario">Mario</option>
              <option value="Marth (Lucina)" data-tokens="Lucina">Marth (Lucina)</option>
              <option value="Mega Man">Mega Man</option>
              <option value="Meta Knight">Meta Knight</option>
              <option value="Mewtwo">Mewtwo</option>
              <option value="Mii Brawler" data-tokens="Brawler">Mii Brawler</option>
              <option value="Mii Gunner" data-tokens="Gunner">Mii Gunner</option>
              <option value="Mii Swordfighter" data-tokens="Swordfighter">Mii Swordfighter</option>
              <option value="Min Min">Min Min</option>
              <option value="Mr. Game & Watch" data-tokens="Game & Watch">Mr. Game & Watch</option>
              <option value="Ness">Ness</option>
              <option value="Olimar">Olimar</option>
              <option value="Pac-Man">Pac-Man</option>
              <option value="Palutena">Palutena</option>
              <option value="Peach (Daisy)" data-tokens="Daisy">Peach (Daisy)</option>
              <option value="Pichu">Pichu</option>
              <option value="Pikachu">Pikachu</option>
              <option value="Piranha Plant" data-tokens="Plant">Piranha Plant</option>
              <option value="Pit">Pit</option>
              <option value="Pokémon Trainer" data-tokens="Pokemon Trainer">Pokémon Trainer</option>
              <option value="Ridley">Ridley</option>
              <option value="R.O.B." data-tokens="ROB">R.O.B.</option>
              <option value="Robin">Robin</option>
              <option value="Rosalina & Luma">Rosalina & Luma</option>
              <option value="Roy">Roy</option>
              <option value="Ryu">Ryu</option>
              <option value="Samus (Dark Samus)" data-tokens="Dark Samus">Samus (Dark Samus)</option>
              <option value="Sheik">Sheik</option>
              <option value="Shulk">Shulk</option>
              <option value="Simon (Richter)" data-tokens="Richter">Simon (Richter)</option>
              <option value="Snake">Snake</option>
              <option value="Sonic">Sonic</option>
              <option value="Squirtle">Squirtle</option>
              <option value="Terry">Terry</option>
              <option value="Toon Link">Toon Link</option>
              <option value="Villager">Villager</option>
              <option value="Wario">Wario</option>
              <option value="Wii Fit Trainer">Wii Fit Trainer</option>
              <option value="Wolf">Wolf</option>
              <option value="Yoshi">Yoshi</option>
              <option value="Young Link">Young Link</option>
              <option value="Zelda">Zelda</option>
              <option value="Zero Suit Samus">Zero Suit Samus</option>
            </select>
            &nbsp;
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>

    {% block content %}
    
    {% endblock %}

    <!-- Footer at bottom of every page -->
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>SSBU Stage Guides isn't endorsed by Nintendo and doesn't reflect the views or opinions of Nintendo or anyone officially involved in producing or managing Super Smash Bros. <br>
          Super Smash Bros. and Nintendo are trademarks or registered trademarks of Nintendo CO., LTD</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript for bootstrap-select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <!-- (Optional) Latest compiled and minified JavaScript translation files for bootstrap-select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script>
  </body>
</html>