{% extends "guide/base.html" %}
{% load static %}

{% block content %}

<div class="text-center">
<h1 style="font-weight: bold;">{{ character.name }}</h1>
</div>

<div class="text-center">
<img src="{{character.link}}" class="img-fluid" alt="character art" style="height:250px;">
</div>

<div class="text-center">
<a href="{% url 'guide:vote' character.name %}" class="btn btn-primary">Vote on Stages</a>
</div>

{% if votes %}
    <p class="text-center">Total votes: {{ num_votes }}</p>
    <!-- for debugging
    <p>{{votes}}</p>
     -->
    <h2 class="text-center" style="font-weight: bold; font-size: 35px;">Stage Rankings</h2>
    <div class="container-fluid">
        <div class="row">
            {% for vote in votes %} 
                <div class="col-6 col-md-3">
                    <h4>
                        <b>#{{forloop.counter}}: {{vote.0}} </b><br>
                        <img id="{{forloop.counter}}" src="{{vote.2}}" alt="stage image" class="rounded border border-dark" style="border-width:2px !important;" onclick="greyOutFxn{{forloop.counter}}()" width="150" height="84">
                        <script>
                            function greyOutFxn{{forloop.counter}}(){
                                var stage = document.getElementById('{{forloop.counter}}');
                                if (stage.style.filter != "grayscale(100%)") {
                                    stage.style.filter = "grayscale(100%)";
                                    //stage.style.className = "rounded border border-danger";
                                }
                                else{
                                    stage.style.filter = "none";
                                    //stage.style.className = "rounded border border-secondary";
                                }
                            }
                        </script>
                        <br>
                        Score: {{vote.1|floatformat:2}} {% if vote.1 is None %} No votes. {% endif %}<br>
                        {{vote.3}} votes
                    </h4>
                </div>
            {% endfor %}
        </div>
    </div>

{% else %}
<p class="text-center">There are no votes yet. <br> Please contribute if you can!</p>
{% endif %}

<br><br>

<!-- begin wwww.htmlcommentbox.com -->
<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
<link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
<script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24dFIEN7Ub0828fq.xRLQAC."+"&opts=16862&num=10&ts=1592607004055");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->

{% endblock %}

{% block metadata %}
<title>{{character.name}}</title>
<meta name="description" content="Stage rankings and advice for {{character.name}}">
<meta name="keywords" content="Super Smash Bros. Ultimate, Super Smash Bros. Ultimate stage advice, {{character.name}}, {{character.name}} stage rankings, {{character.name}} best stages, {{character.name}} stages, ssbu, ssbu stage guides, smash ultimate stage guides, Smash Bros. Ultimate stage guides, Smash Bros. Ultimate stage guide, Super Smash Bros. Ultimate matchup, stage rankings, smash ultimate, smash ultimate stages, best stages against, stage bans, worst stages against, stage ban, competitive smash, best stages, worst stages">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}