{% load static %}

<h1>{{ character.name }}</h1>

<img src="{% static character.image_link %}" alt="character">

{% if votes %}
    <p>Total votes: {{ num_votes }}</p>
    <p>{{votes}}</p>
    <h2> Best Stages Ranking</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Image</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for vote in votes %} 
            <!--
                <p>
                    #{{forloop.counter}}: {{vote.0}} <br>
                    <img src="{% static vote.2 %}" alt="stage image"> <br>
                    Score: {{vote.1}}
                </p>
            -->
            <tr>
                <th scope="row">#{{forloop.counter}}: {{vote.0}}</th>
                <td><img src="{% static vote.2 %}" alt="stage image"></td>
                <td>{{vote.1}}</td>
            </tr>

        
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>There are no votes yet. Please contribute!</p>
{% endif %}