{% extends "guide/base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron text-center" style="background:transparent">
    Site creator: JWON<br><br>
    Twitter: <a href="https://twitter.com/JWON_SSB">@JWON_SSB</a><br><br>
    Feedback welcome at <a href="mailto:ssbu.stage.guides@gmail.com">jwon.ssb@gmail.com</a>.<br><br>
</div>
{% endblock %}

{% block metadata %}
<title>Contact</title>
<meta name="description" content="Contact page for SSBU Stage Guides.">
<meta name="keywords" content="Super Smash Bros. Ultimate, Super Smash Bros. Ultimate stage advice, contact, ssbu, ssbu stage guides, smash ultimate stage guides, Smash Bros. Ultimate stage guides, Smash Bros. Ultimate stage guide, Super Smash Bros. Ultimate matchup, stage rankings, smash ultimate, smash ultimate stages, best stages against, stage bans, worst stages against, stage ban, competitive smash, best stages, worst stages">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}