{% extends "guide/base.html" %}
{% load static %}

{% block content %}

    <!-- Homepage helper text -->
    <div class="jumbotron text-center">
        <p>Choose the character you want stage advice for:</p>
    </div>

    <!-- Code for every character card -->
    {% if character_list %}
    <div class="container">
        <div class="row">
        {% for character in character_list %}
        <div class="col-3 col-md-2" style="padding:5px">
          <!-- attempt to use overlay
          <div class="card bg-dark text-white">
            <img class="card-img" src="{% static character.image_link %}" alt="Character image">
            <div class="card-img-overlay">
              <h5 class="card-title">{{ character.name }}</h5>
            </div>
          </div>


          <div class="card text-center" style="width: 10vw; height: 14vw;">
          <img src="{% static character.image_link %}" class="card-img-top" alt="character art" style="height: 10vw; width: 10vw; max-height:100%; max-width:100%;">
          
          -->
          <div class="card text-center h-100" style="width:100%;">
          <img src="{% static character.image_link %}" class="card-img-top" alt="character art">
            <div class="card-body">
              <h5 class="card-title">{{ character.name }}</h5>
              <a href="{% url 'guide:character' character.name %}" class="stretched-link"></a>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
        <p>No characters at this time.</p>
    {% endif %}

{% endblock %}