{% extends "guide/base.html" %}
{% load static %}

{% block content %}

    <!-- Homepage helper text -->
    <div class="jumbotron text-center" style="padding-top: 20px; padding-bottom: 5px;">
        <p>Click button below to get stage info for a specific matchup:</p>
        <div class="text-center">
          <a href="{% url 'guide:matchups'%}" class="btn btn-primary">Matchups</a>
        </div>
        <br>
        <b>OR</b><br>
        <p>Click a character below for stage advice:</p>
        <form class="form" action="{% url 'guide:search' %}" method="get">
          <input list="Character" name="Character" placeholder="Search character name" required>
          <datalist id="Character">
              <option value="Banjo & Kazooie"> 
              <option value="Bayonetta"> 
              <option value="Bowser"> 
              <option value="Bowser Jr."> 
              <option value="Byleth"> 
              <option value="Captain Falcon"> 
              <option value="Charizard"> 
              <option value="Chrom"> 
              <option value="Cloud"> 
              <option value="Corrin"> 
              <option value="Daisy"> 
              <option value="Dark Pit"> 
              <option value="Dark Samus"> 
              <option value="Diddy Kong"> 
              <option value="Donkey Kong"> 
              <option value="Dr. Mario"> 
              <option value="Duck Hunt"> 
              <option value="Falco"> 
              <option value="Fox"> 
              <option value="Ganondorf"> 
              <option value="Greninja"> 
              <option value="Hero"> 
              <option value="Ice Climbers"> 
              <option value="Ike"> 
              <option value="Incineroar"> 
              <option value="Inkling"> 
              <option value="Isabelle"> 
              <option value="Ivysaur"> 
              <option value="Jigglypuff"> 
              <option value="Joker"> 
              <option value="Ken"> 
              <option value="King Dedede"> 
              <option value="King K. Rool"> 
              <option value="Kirby"> 
              <option value="Link"> 
              <option value="Little Mac"> 
              <option value="Lucario"> 
              <option value="Lucas"> 
              <option value="Lucina"> 
              <option value="Luigi"> 
              <option value="Mario"> 
              <option value="Marth"> 
              <option value="Mega Man"> 
              <option value="Meta Knight"> 
              <option value="Mewtwo"> 
              <option value="Mii Brawler"> 
              <option value="Mii Gunner"> 
              <option value="Mii Swordfighter"> 
              <option value="Mr. Game & Watch"> 
              <option value="Ness"> 
              <option value="Olimar"> 
              <option value="Pac-Man"> 
              <option value="Palutena"> 
              <option value="Peach"> 
              <option value="Pichu"> 
              <option value="Pikachu"> 
              <option value="Piranha Plant"> 
              <option value="Pit"> 
              <option value="Pokémon Trainer"> 
              <option value="Richter"> 
              <option value="Ridley"> 
              <option value="R.O.B."> 
              <option value="Robin"> 
              <option value="Rosalina & Luma"> 
              <option value="Roy"> 
              <option value="Ryu"> 
              <option value="Samus"> 
              <option value="Sheik"> 
              <option value="Shulk"> 
              <option value="Simon"> 
              <option value="Snake"> 
              <option value="Sonic"> 
              <option value="Squirtle"> 
              <option value="Terry"> 
              <option value="Toon Link"> 
              <option value="Villager"> 
              <option value="Wario"> 
              <option value="Wii Fit Trainer"> 
              <option value="Wolf"> 
              <option value="Yoshi"> 
              <option value="Young Link"> 
              <option value="Zelda"> 
              <option value="Zero Suit Samus"> 
          </datalist>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    <script>
      // Find all inputs on the DOM which are bound to a datalist via their list attribute.
      var inputs = document.querySelectorAll('input[list]');
      for (var i = 0; i < inputs.length; i++) {
        // When the value of the input changes...
        inputs[i].addEventListener('change', function() {
          var optionFound = false,
            datalist = this.list;
          // Determine whether an option exists with the current value of the input.
          for (var j = 0; j < datalist.options.length; j++) {
              if (this.value == datalist.options[j].value) {
                  optionFound = true;
                  break;
              }
          }
          // use the setCustomValidity function of the Validation API
          // to provide an user feedback if the value does not exist in the datalist
          if (optionFound) {
            this.setCustomValidity('');
          } else {
            this.setCustomValidity('Please select a valid value.');
          }
        });
      }
    </script>
    

    <!-- Code for every character card -->
    {% if character_list %}
    <div class="container">
        <div class="row">
        {% for character in character_list %}
        <div class="col-3 col-md-2" style="padding:5px">
          <!-- attempt to use overlay
          <div class="card bg-dark text-white">
            <img class="card-img" src="{% static character.image_link %}" alt="Character image">
            <div class="card-img-overlay">
              <h5 class="card-title">{{ character.name }}</h5>
            </div>
          </div>


          <div class="card text-center" style="width: 10vw; height: 14vw;">
          <img src="{% static character.image_link %}" class="card-img-top" alt="character art" style="height: 10vw; width: 10vw; max-height:100%; max-width:100%;">
          
          -->
          <div class="card text-center h-100" style="width:100%;">
          <img src="{% static character.image_link %}" class="card-img-top" alt="character art" style="height:15vh;">
            <div class="card-body">
              <h5 class="card-title" style="margin-bottom: 0 !important;">{{ character.name }}</h5>
              <a href="{% url 'guide:character' character.name %}" class="stretched-link"></a>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
        <p>No characters at this time.</p>
    {% endif %}

{% endblock %}

{% block metadata %}
<title>SSBU Stage Guides</title>
<meta name="title" content="SSBU Stage Guides">
<meta name="description" content="Find the best and worst stages for each character in Smash Ultimate. Get advice for stage picks and bans during competitive play.">
<meta name="keywords" content="Super Smash Bros. Ultimate, Super Smash Bros. Ultimate stage advice, ssbu, ssbu stage guides, smash ultimate stage guides, Smash Bros. Ultimate stage guides, Smash Bros. Ultimate stage guide, Super Smash Bros. Ultimate matchup, stage rankings, smash ultimate, smash ultimate stages, best stages against, stage bans, worst stages against, stage ban, competitive smash, best stages, worst stages">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}