{% extends "guide/base.html" %}
{% load static %}



{% block content %}

<!-- To get all character names for datalist
{% for character in character_list %}
  &#60;option value&#61;"{{character.name}}"&#62; <br>
{% endfor %}
-->
<br>
<div class="text-center">
<form action="{% url 'guide:matchupsearch' %}" method="get">
  <label for="Your Character">Enter your character: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
  <select class="selectpicker" data-live-search="true" data-live-search-style="startsWith" id="Your Character" name="Your Character" title="Enter character name..." required>
    <option value="Banjo & Kazooie">Banjo & Kazooie</option>
    <option value="Bayonetta">Bayonetta</option>
    <option value="Bowser">Bowser</option>
    <option value="Bowser Jr." data-tokens="Jr.">Bowser Jr.</option>
    <option value="Byleth">Byleth</option>
    <option value="Captain Falcon">Captain Falcon</option>
    <option value="Charizard">Charizard</option>
    <option value="Chrom">Chrom</option>
    <option value="Cloud">Cloud</option>
    <option value="Corrin">Corrin</option>
    <option value="Dark Pit">Dark Pit</option>
    <option value="Diddy Kong">Diddy Kong</option>
    <option value="Donkey Kong">Donkey Kong</option>
    <option value="Dr. Mario" data-tokens="Doctor">Dr. Mario</option>
    <option value="Duck Hunt">Duck Hunt</option>
    <option value="Falco">Falco</option>
    <option value="Fox">Fox</option>
    <option value="Ganondorf">Ganondorf</option>
    <option value="Greninja">Greninja</option>
    <option value="Hero">Hero</option>
    <option value="Ice Climbers" data-tokens="Climbers">Ice Climbers</option>
    <option value="Ike">Ike</option>
    <option value="Incineroar">Incineroar</option>
    <option value="Inkling">Inkling</option>
    <option value="Isabelle">Isabelle</option>
    <option value="Ivysaur">Ivysaur</option>
    <option value="Jigglypuff">Jigglypuff</option>
    <option value="Joker">Joker</option>
    <option value="Kazuya">Kazuya</option>
    <option value="Ken">Ken</option>
    <option value="King Dedede" data-tokens="Dedede">King Dedede</option>
    <option value="King K. Rool" data-tokens="K Rool">King K. Rool</option>
    <option value="Kirby">Kirby</option>
    <option value="Link">Link</option>
    <option value="Little Mac">Little Mac</option>
    <option value="Lucario">Lucario</option>
    <option value="Lucas">Lucas</option>
    <option value="Luigi">Luigi</option>
    <option value="Mario">Mario</option>
    <option value="Marth (Lucina)" data-tokens="Lucina">Marth (Lucina)</option>
    <option value="Mega Man">Mega Man</option>
    <option value="Meta Knight">Meta Knight</option>
    <option value="Mewtwo">Mewtwo</option>
    <option value="Mii Brawler" data-tokens="Brawler">Mii Brawler</option>
    <option value="Mii Gunner" data-tokens="Gunner">Mii Gunner</option>
    <option value="Mii Swordfighter" data-tokens="Swordfighter">Mii Swordfighter</option>
    <option value="Min Min">Min Min</option>
    <option value="Mr. Game & Watch" data-tokens="Game & Watch">Mr. Game & Watch</option>
    <option value="Ness">Ness</option>
    <option value="Olimar">Olimar</option>
    <option value="Pac-Man">Pac-Man</option>
    <option value="Palutena">Palutena</option>
    <option value="Peach (Daisy)" data-tokens="Daisy">Peach (Daisy)</option>
    <option value="Pichu">Pichu</option>
    <option value="Pikachu">Pikachu</option>
    <option value="Piranha Plant" data-tokens="Plant">Piranha Plant</option>
    <option value="Pit">Pit</option>
    <option value="Pokémon Trainer" data-tokens="Pokemon Trainer">Pokémon Trainer</option>
    <option value="Pyra & Mythra" data-tokens="Mythra">Pyra & Mythra</option>
    <option value="Ridley">Ridley</option>
    <option value="R.O.B." data-tokens="ROB">R.O.B.</option>
    <option value="Robin">Robin</option>
    <option value="Rosalina & Luma">Rosalina & Luma</option>
    <option value="Roy">Roy</option>
    <option value="Ryu">Ryu</option>
    <option value="Samus (Dark Samus)" data-tokens="Dark Samus">Samus (Dark Samus)</option>
    <option value="Sephiroth">Sephiroth</option>
    <option value="Sheik">Sheik</option>
    <option value="Shulk">Shulk</option>
    <option value="Simon (Richter)" data-tokens="Richter">Simon (Richter)</option>
    <option value="Snake">Snake</option>
    <option value="Sonic">Sonic</option>
    <option value="Sora">Sora</option>
    <option value="Squirtle">Squirtle</option>
    <option value="Steve">Steve</option>
    <option value="Terry">Terry</option>
    <option value="Toon Link">Toon Link</option>
    <option value="Villager">Villager</option>
    <option value="Wario">Wario</option>
    <option value="Wii Fit Trainer">Wii Fit Trainer</option>
    <option value="Wolf">Wolf</option>
    <option value="Yoshi">Yoshi</option>
    <option value="Young Link">Young Link</option>
    <option value="Zelda">Zelda</option>
    <option value="Zero Suit Samus">Zero Suit Samus</option>
  </select>

  <br><br>

  <label for="Opponent Character">Enter opponent's character:</label>
  <select class="selectpicker" data-live-search="true" data-live-search-style="startsWith" id="Opponent Character" name="Opponent Character" title="Search character name..." required>
    <option value="Banjo & Kazooie">Banjo & Kazooie</option>
    <option value="Bayonetta">Bayonetta</option>
    <option value="Bowser">Bowser</option>
    <option value="Bowser Jr." data-tokens="Jr.">Bowser Jr.</option>
    <option value="Byleth">Byleth</option>
    <option value="Captain Falcon">Captain Falcon</option>
    <option value="Charizard">Charizard</option>
    <option value="Chrom">Chrom</option>
    <option value="Cloud">Cloud</option>
    <option value="Corrin">Corrin</option>
    <option value="Dark Pit">Dark Pit</option>
    <option value="Diddy Kong">Diddy Kong</option>
    <option value="Donkey Kong">Donkey Kong</option>
    <option value="Dr. Mario" data-tokens="Doctor">Dr. Mario</option>
    <option value="Duck Hunt">Duck Hunt</option>
    <option value="Falco">Falco</option>
    <option value="Fox">Fox</option>
    <option value="Ganondorf">Ganondorf</option>
    <option value="Greninja">Greninja</option>
    <option value="Hero">Hero</option>
    <option value="Ice Climbers" data-tokens="Climbers">Ice Climbers</option>
    <option value="Ike">Ike</option>
    <option value="Incineroar">Incineroar</option>
    <option value="Inkling">Inkling</option>
    <option value="Isabelle">Isabelle</option>
    <option value="Ivysaur">Ivysaur</option>
    <option value="Jigglypuff">Jigglypuff</option>
    <option value="Joker">Joker</option>
    <option value="Kazuya">Kazuya</option>
    <option value="Ken">Ken</option>
    <option value="King Dedede" data-tokens="Dedede">King Dedede</option>
    <option value="King K. Rool" data-tokens="K Rool">King K. Rool</option>
    <option value="Kirby">Kirby</option>
    <option value="Link">Link</option>
    <option value="Little Mac">Little Mac</option>
    <option value="Lucario">Lucario</option>
    <option value="Lucas">Lucas</option>
    <option value="Luigi">Luigi</option>
    <option value="Mario">Mario</option>
    <option value="Marth (Lucina)" data-tokens="Lucina">Marth (Lucina)</option>
    <option value="Mega Man">Mega Man</option>
    <option value="Meta Knight">Meta Knight</option>
    <option value="Mewtwo">Mewtwo</option>
    <option value="Mii Brawler" data-tokens="Brawler">Mii Brawler</option>
    <option value="Mii Gunner" data-tokens="Gunner">Mii Gunner</option>
    <option value="Mii Swordfighter" data-tokens="Swordfighter">Mii Swordfighter</option>
    <option value="Min Min">Min Min</option>
    <option value="Mr. Game & Watch" data-tokens="Game & Watch">Mr. Game & Watch</option>
    <option value="Ness">Ness</option>
    <option value="Olimar">Olimar</option>
    <option value="Pac-Man">Pac-Man</option>
    <option value="Palutena">Palutena</option>
    <option value="Peach (Daisy)" data-tokens="Daisy">Peach (Daisy)</option>
    <option value="Pichu">Pichu</option>
    <option value="Pikachu">Pikachu</option>
    <option value="Piranha Plant" data-tokens="Plant">Piranha Plant</option>
    <option value="Pit">Pit</option>
    <option value="Pokémon Trainer" data-tokens="Pokemon Trainer">Pokémon Trainer</option>
    <option value="Pyra & Mythra" data-tokens="Mythra">Pyra & Mythra</option>
    <option value="Ridley">Ridley</option>
    <option value="R.O.B." data-tokens="ROB">R.O.B.</option>
    <option value="Robin">Robin</option>
    <option value="Rosalina & Luma">Rosalina & Luma</option>
    <option value="Roy">Roy</option>
    <option value="Ryu">Ryu</option>
    <option value="Samus (Dark Samus)" data-tokens="Dark Samus">Samus (Dark Samus)</option>
    <option value="Sephiroth">Sephiroth</option>
    <option value="Sheik">Sheik</option>
    <option value="Shulk">Shulk</option>
    <option value="Simon (Richter)" data-tokens="Richter">Simon (Richter)</option>
    <option value="Snake">Snake</option>
    <option value="Sonic">Sonic</option>
    <option value="Sora">Sora</option>
    <option value="Squirtle">Squirtle</option>
    <option value="Steve">Steve</option>
    <option value="Terry">Terry</option>
    <option value="Toon Link">Toon Link</option>
    <option value="Villager">Villager</option>
    <option value="Wario">Wario</option>
    <option value="Wii Fit Trainer">Wii Fit Trainer</option>
    <option value="Wolf">Wolf</option>
    <option value="Yoshi">Yoshi</option>
    <option value="Young Link">Young Link</option>
    <option value="Zelda">Zelda</option>
    <option value="Zero Suit Samus">Zero Suit Samus</option>
  </select>

  <div class="text">
    <br>
    <button type="submit" class="btn btn-primary">Get matchup advice!</button>
  </div>
</form>
</div>
<br>


{% endblock %}

{% block metadata %}
<title>Matchup Finder</title>
<meta name="description" content="Search for a matchup to get stage rankings for.">
<meta name="keywords" content="Super Smash Bros. Ultimate, Super Smash Bros. Ultimate stage advice, ssbu, ssbu stage guides, smash ultimate stage guides, Smash Bros. Ultimate stage guides, Smash Bros. Ultimate stage guide, Super Smash Bros. Ultimate matchup, stage rankings, smash ultimate, smash ultimate stages, best stages against, stage bans, worst stages against, stage ban, competitive smash, best stages, worst stages">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}