{% extends "guide/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Rate the stages for {{character.name}}</h1>
<h5>Feel free to skip any stages you're not sure about.</h5>
<div class="container-fluid">
<form action="{% url 'guide:vote' character.name %}" method="post">
    {% csrf_token %}

    {{ form.character|as_crispy_field }}
    
    <div class="form-row">
        <div class="form-group col-6">
          {{ form.battlefield|as_crispy_field }}
        </div>
        <div class="form-group col-6 ">
          {{ form.final_destination|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
          {{ form.pokemon_stadium|as_crispy_field }}
        </div>
        <div class="form-group col-6 ">
          {{ form.smashville|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
          {{ form.lylat|as_crispy_field }}
        </div>
        <div class="form-group col-6 ">
          {{ form.town|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
          {{ form.kalos|as_crispy_field }}
        </div>
        <div class="form-group col-6 ">
          {{ form.yoshi_story|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
          {{ form.yoshi_island|as_crispy_field }}
        </div>
        <div class="form-group col-6 ">
          {{ form.unova|as_crispy_field }}
        </div>
    </div>
    
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit Vote</button>
    </div>
</form>
</div>
{% endblock %}

{% block metadata %}
<title>Vote - {{character.name}} </title>
<meta name="description" content="Vote on best and worst stages for {{character.name}}">
<meta name="keywords" content="Super Smash Bros. Ultimate, Super Smash Bros. Ultimate stage advice, vote, {{character.name}}, ssbu, ssbu stage guides, smash ultimate stage guides, Smash Bros. Ultimate stage guides, Smash Bros. Ultimate stage guide, Super Smash Bros. Ultimate matchup, stage rankings, smash ultimate, smash ultimate stages, best stages against, stage bans, worst stages against, stage ban, competitive smash, best stages, worst stages">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}